
@import "shared/variables";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $whiteColor;
}


.list-pins{
    .pin-img img{
        transition:transform 1s ease-out;
        &:hover{
            transform: scale(1.1);

        }
    }
}
.form-pin {

    form {
        text-align: center;
        a{
            img{
                @extend .w-25;
                @extend .img-thumbnail;

            }
        }
    }
}

table.pins{
    tr{
        td{
            &:first-child{
                text-align: center;
            }
          img.img-pin{
              border: 1px solid #fff;
              border-radius: 50%;
              width: 40px;
          }
        }
    }
}
