#dashboard{
 background: #eeeff4;
 .nav-left{
  background: #242d41;
  color: #ccc;
  &.col-md-2{
   padding-left: 0!important;
   padding-right: 0 !important;
  }
  hr{
   border-color: #e42b2bfa;
  }
  h3{
   text-transform: uppercase;
   font-size: 16px;
   margin-top: 12px;
   color: #7889a4;
   padding-left: 15px;
  }

  li {
   padding: 5px 0 ;
   transition: background-color .2s ease-in-out;
   &:hover{
    background-color: #df4040fa;
   }

   .nav-link{
    color: #dde9f8;
    font-size: 14px;
    &:hover i{
     color: #FFFFFF;
    }
    i{
     color: #df4040fa;
     transition: color .2s ease-in-out;
    }
   }
  }
 }
}


#user-dashboard{
 background-color:#eeeff4 ;
 .nav-left,.statistic,.user-info{
  background-color: #fff;
  border-radius: 5px;
 }
 .profile {
  .user-info {
   border-radius: 5px;
   .head {
    img {
     width: 150px;
     height: 140px;
    }
   }
   .nav-item{
    span{
     font-weight: bold!important;
     color: #d3dde6 !important;
     font-size: 13px;
    }
   }
  }
  .statistic{
   .h3{
     padding: 33px 37px;
     border: 2px solid #dbdbdbcc;
     border-radius: 50%;
     display: inline-block;
   }
  }
  .comment{
   display: flex;
   img{
    width: 44px;
    height: 44px;
   }
   .content{
    text-align: justify;
    margin-left: 6px;
    background-color: whitesmoke;
    padding: 5px 15px;
    border-radius: 8px;
   }

  }

 }
}

.single-pin{
 padding: 20px 0 100px ;
 .comments{
  .list-comment{
   margin-bottom: 15px;
   max-height: 500px;
   overflow-y: scroll;
   /* width */
   &::-webkit-scrollbar {
    width: 10px;
   }

   /* Track */
   &::-webkit-scrollbar-track {
    border: 1.5px solid #e3e3e3;
    border-radius: 10px;
   }

   /* Handle */
   &::-webkit-scrollbar-thumb {
    background: #b8b8b8;
    border-radius: 10px;
   }

   /* Handle on hover */
   &::-webkit-scrollbar-thumb:hover {
    background: #959393;
   }

  .comment {
   .content {
    background: #f7f7f7;
    padding: 15px;
    border-radius: 24px;
   }

   .date-comment {
    position: relative;
    top: -15px;
    margin-left: 58px;
   }

   }
  }
  .input-comment{
   width: 100%;
   border: 1px solid #e6e6e6;
   border-radius: 26px;
   padding: 3px 29px;
   resize: none;
   outline: none;
   background: #f6f6f6;
  }

 }
}


