<footer>

    <div class="container text-center">
        <p>Created By &copy; Zaki | {{ 'now' | date('Y') }}</p>
    </div>
</footer>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://kit.fontawesome.com/b3f46432bc.js" crossorigin="anonymous"></script>
{% endblock %}

    </body>
</html>