{% extends 'layout/partials/base.html.twig' %}

{% block title 'Edit Pin' %}

{% block body %}
<h2 class="text-center mb-3"> Edit Pin</h2>
<div class="row form-pin">
    <div class="col-md-6 mx-auto">
        {{ include('pin/_form.html.twig',{textButton:"Edit"}) }}

    </div>
</div>
{% endblock %}