{% extends 'layout/partials/base.html.twig' %}

{% block title 'New Pin' %}

{% block body %}
    <h2 class="text-center mb-3"> New Pin</h2>
    <div class="row form-pin">
        <div class="col-md-6 mx-auto">
            {{ include('Admin/pin/_form.html.twig',{textButton:"Create"}) }}
        </div>
    </div>
{% endblock %}